<h1>My Classes</h1>

<div class="float-right" id="upload">
  <button type="button" class="btn btn-info" id="download">
    <i class="fas fa-upload"></i>
    Export Existing Plan
  </button>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#degreeCompletionModal">
  Compare Degree Completion
</button>
<br>
<!-- Modal -->
<div class="modal fade" id="degreeCompletionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Compare Degrees</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>BS Computer Science</h4>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">85%</div>
        </div>
        <br>
        <h4>BS Software Engineering</h4>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">80%</div>
        </div>
        <br>
        <h4>BS Computer Engineering</h4>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">65%</div>
        </div>
        <br>
        <h4>Software Engineering Minor</h4>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 45%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">45%</div>
        </div>
        <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">EX20XX</th>
      <th scope="col">Class</th>
      <th scope="col">Title</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>
        <a class="course-more-info" data-toggle="modal" data-target="#courseInfoModal" data-whatever="@mdo" href="">CS 171</a>
      </td>
      <td>CS 171 Title</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>
        <a class="course-more-info" data-toggle="modal" data-target="#courseInfoModal" data-whatever="@mdo" href="">CS 265</a>
      </td>
      <td>Physics</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>ENGL 101</td>
      <td>English</td>
    </tr>
  </tbody>
</table>



<% for i in 0..params[:terms][:year].length-1 do %>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"> <%= params[:terms][:term].at(i) %> <%= params[:terms][:year].at(i) %></th>
        <th scope="col">Class</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
          <td>
            <a class="course-more-info" data-toggle="modal" data-target="#courseInfoModal" data-whatever="@mdo" href=""><%= params[:terms][:course1].at(i) %></a>
          </td>
      </tr>
      <tr>
        <th scope="row">2</th>
          <td>
            <a class="course-more-info" data-toggle="modal" data-target="#courseInfoModal" data-whatever="@mdo" href=""><%= params[:terms][:course2].at(i) %></a>
          </td>
      </tr>
      <tr>
        <th scope="row">3</th>
          <td>
            <a class="course-more-info" data-toggle="modal" data-target="#courseInfoModal" data-whatever="@mdo" href=""><%= params[:terms][:course3].at(i) %></a>
          </td>
      </tr>
      <tr>
        <th scope="row">4</th>
          <td>
            <a class="course-more-info" data-toggle="modal" data-target="#courseInfoModal" data-whatever="@mdo" href=""><%= params[:terms][:course4].at(i) %></a>
          </td>
      </tr>
      <tr>
        <th scope="row">5</th>
          <td>
            <a class="course-more-info" data-toggle="modal" data-target="#courseInfoModal" data-whatever="@mdo" href=""><%= params[:terms][:course5].at(i) %></a>
          </td>
      </tr>
      <tr>
        <th scope="row">6</th>
          <td>
            <a class="course-more-info" data-toggle="modal" data-target="#courseInfoModal" data-whatever="@mdo" href=""><%= params[:terms][:course6].at(i) %></a>
          </td>
      </tr>
      <tr>
        <th scope="row">7</th>
          <td>
            <a class="course-more-info" data-toggle="modal" data-target="#courseInfoModal" data-whatever="@mdo" href=""><%= params[:terms][:course7].at(i) %></a>
          </td>
      </tr>
    </tbody>
  </table>
<% end %>


<button type="button" class="btn btn-success">Import Plan</button>
<button type="button" class="btn btn-danger">Export Plan</button>

<br>
<br><br><br><br><br>

<!-- Course info modal -->
<div class="modal fade" id="courseInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">CS 171</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">

          <tbody>
            <tr>
              <th scope="row">Course</th>
              <td id="modal-course">-</td>
            </tr>
            <tr>
              <th scope="row">Title</th>
              <td id="modal-title">-</td>
            </tr>
            <tr>
              <th scope="row">Description</th>
              <td id="modal-description">-</td>
            </tr>
            <tr>
              <th scope="row">Restrictions</th>
              <td id="modal-restrictions">-</td>
            </tr>

          </tbody>
        </table>
        <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
