<h1>Course Input</h1>
<br>
<div class="float-right" id="upload">
  <button type="button" class="btn btn-info" id="upload">
    <i class="fas fa-download"></i>
    Import Existing Plan
  </button>
</div>

<br>
<%= form_tag '/view/degree', method: :get do %>
  <div class="terms">
    <div class="row" id="clone0">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text">Year</label>
        </div>
        <%= select_tag 'terms[year][]', options_for_select(getYearsArray, Date.today.year), {class: "custom-select", selected:Date.today.year} %>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text">Term</label>
        </div>
        <%= select_tag 'terms[term][]', options_for_select(getTermsArray), {class: "custom-select"} %>
      </div>

      <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend" id="course">
            <span class="input-group-text" id="inputGroup-sizing-default">Course 1</span>
          </div>
          <%= text_field_tag 'terms[course1][]', '', class: "form-control", id: "course-input-field"%>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend" id="course">
            <span class="input-group-text" id="inputGroup-sizing-default">Course 2</span>
          </div>
          <%= text_field_tag 'terms[course2][]', '', class: "form-control", id: "course-input-field"%>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend" id="course">
            <span class="input-group-text" id="inputGroup-sizing-default">Course 3</span>
          </div>
          <%= text_field_tag 'terms[course3][]', '', class: "form-control", id: "course-input-field"%>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend" id="course">
            <span class="input-group-text" id="inputGroup-sizing-default">Course 4</span>
          </div>
          <%= text_field_tag 'terms[course4][]', '', class: "form-control", id: "course-input-field"%>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend" id="course">
            <span class="input-group-text" id="inputGroup-sizing-default">Course 5</span>
          </div>
          <%= text_field_tag 'terms[course5][]', '', class: "form-control", id: "course-input-field"%>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend" id="course">
            <span class="input-group-text" id="inputGroup-sizing-default">Course 6</span>
          </div>
          <%= text_field_tag 'terms[course6][]', '', class: "form-control", id: "course-input-field"%>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend" id="course">
            <span class="input-group-text" id="inputGroup-sizing-default">Course 7</span>
          </div>
          <%= text_field_tag 'terms[course7][]', '', class: "form-control", id: "course-input-field"%>
        </div>
      </div>

      <span class="input-group-btn">
        <button type="button" class="btn btn-success btn-add" id="add-term">
          <span>Add Another Term</span>
        </button>
        <br>
        <br>
      </span>

    </div>
  </div>

  <%= submit_tag 'Submit', class:"btn btn-info" %>

<% end %>
