<!DOCTYPE html>
<html>
  <head>
    <title>Advisor Ai</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  </head>



  <body>
    <%= render 'layouts/nav' %>
    <div class="container">
      <%= yield %>
    </div>
    <!-- <hr> -->
    <div class="container">
      <footer class="page-footer  mt-4">
        <br>
      </footer>
    </div>
  </body>


</html>
